*{
    box-sizing: border-box;
}
body{
    padding-top: 15px;
}
.container{
    border-radius: 40px;
    background-color: #34357c;
}
.navbar{
    background-color: #34357c;
    width: 50px;
    height: 700px;
    top: 8.5px;
    border-color: #34357c;
    float: left;
}
ul{
    margin-top: 200px;

}
button{
    margin-top: 15px;
    padding: 7px;
}
.container-fluid{
    padding-left: 3px;
}
.profile{
    border-radius: 50%;
    margin-top: 140px;
    width: 2em;
    height: 2em;
    border: 1px;
}
.content{
    margin-top: 10px;
    width: 1065px;
    height: 695px;
    border-radius: 40px;
    background-color: white;
    margin-left: 60px;
    padding-top: 5px;
    padding-left: 10px;
}
.left-content{
    background-color: #ecf5ff;
    margin-top: 2px;
    box-shadow: 0.3em 0.3em #e0ebf6, -0.3em -0 .3em #e0ebf6;
    border-radius: 40px;
    height: 90%;
    width: 65%;
    float: left;
}
.name{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 5px;
    padding-top: 30px;
}
.rooms{
    margin-top: 5px;
    margin-left: 10px;
}
.rooms2{
    margin-top: 5px;
    margin-left: -15px;
}
.rooms1{
    border: 0px;
    background-color: #ecf5ff;
    color: #a7b6c5;
    margin-left: 10px;
}
.glyphicon-option-horizontal{
    margin-left: 160px;
}
.cards{
    margin-left: 25px;
    margin-top: 10px;
}
.card1{
    width: 100px;
    height: 100px;
    background-color: #ffc516;
    border-radius: 10px;
    color: white;
    box-shadow: 0.2em 0.2em #c8d8e9, -0.2em -0 .2em #c8d8e9;
    float: left; 
}
.card2{
    width: 100px;
    height: 100px;
    background-color: #4c4de4;
    border-radius: 10px;
    color: white;
    box-shadow: 0.2em 0.2em #c8d8e9, -0.2em -0 .2em #c8d8e9;
    float: left; 
    margin-left: 30px;
}
.cardText{
    position: relative;
    top: 70px;
    left: 15px;
}
.position1{
    position: relative;
    top: 10px;
    left: -20px;
}
.position2{
    position: relative;
    top: 10px;
    left: -40px;
}
.position3{
    position: relative;
    top: 10px;
    left: -30px;
}
.position4{
    position: relative;
    top: 10px;
    left: -10px;
}
.radio{
    position: relative;
    left: 75px;
    top: -25px;
}
.schedule{
    position: absolute;
    top: 45%;
    left: 19%;
    font-weight: 700;
    float: left;
}
.image1{
    width: 240px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 3px 3px #c9d7e6;
}
.image2{
    width: 250px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 3px 3px #c9d7e6;
}
.myDevice{
    position: absolute;
    top: 45%;
    left: 37%;
    font-weight: 700;
    float: left;
}
.right-content{
    background-color: #ecf5ff;
    margin-top: 2px;
    box-shadow: 0.3em 0.3em #e0ebf6, -0.3em -0 .3em #e0ebf6;
    border-radius: 40px;
    width: 33%;
    height: 90%;
    position: relative;
    left: 67%;
}
.right-content1{
    position: relative;
    bottom: 580px;
}
.temperature{
    position: relative;
    left: 105px;
    font-weight:600; 
    color: #a7b6c5;
}
.image3{
    position: relative;
    left:40px;
    top: 8px;
    height: 350px;
}
.history-content{
    margin-top: 15px;
    margin-left: 20px;
    height: 180px;
    width: 300px;
    background-color: #34357c;
    border-radius: 10px;
}
.history{
 position: relative;
 left: 120px;
 top: 20px;
 color: ivory;
 font-size: 15px;
}
.profile1{
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
}
.user1{
    position: relative;
    top: 15px;
    left: 5px;
    height: 15px;
    color: ivory;
}
.item1{
    color: lawngreen;
}
.profile2{
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
}
.item2{
    color: red;
}
.user{
        height: 23px;
        position: relative;
        right: 3px;
        bottom: 7px;
        width: 20px;
}
.bottom-content{
    margin-top: 25px;
    margin-left: 20px;
}
.pause{
    margin-left: 6px;
    margin-right: 4px;
    color:  #8c96a1;
    float: left;
}
#volume {
    display: inline;
    width: 4%;
    margin-left: 8px;
    margin-right: 5px;
    float: left;
}
.controls{
    background-color: #34357c;
    border: 0px;
    box-shadow: 0.5px 0.5px #e0ebf6;
    color: #e0ebf6;
}
.music-name{
    color: black;
    font-weight: 600;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
#timeline{
    width: 40%;
    float: left;
}
.timeofday{
  position: relative;
  left: 70px;
  top:-20px;
  color:ivory;
}
#morning{
    background-color: rgb(255, 196, 0);
    border: 1px solid black;
    border-radius:20px;
    margin-right: 10px;
}
#evening{
    background-color: rgb(240, 94, 94);
    border: 1px solid black;
    border-radius:20px;
    margin-right: 10px;
}
#night{
    background-color: rgb(162, 103, 218);
    border: 1px solid black;
    border-radius:20px;
    margin-right: 10px;
}
